extends ./layout.jade

<!-- pagina de inicio -->
block contenido
	link(rel='stylesheet', href='/public/css/style.css')
	div
		h1(class="titulo")  tuTiendaOnline
	div
		nav
			button(class="btn" id="boton1")
				a(href="/login") Iniciar sesion
			
			button(class="btn" id="boton2")
				a(href="/signup") Registro