extends ./layout.jade
<!-- pagina de inicio -->
block contenido
	div(class="panel" )
		div(class="panel-contenedor" )
			h1(class="texto-titulo fuente" ) Clash Royale Aplication 
		div(class="panel-central" )		
				
				button(class="boton boton-login fuente" )
						a(class="fuente--link" href="/login") Iniciar sesion
			
				button(class="boton boton-login fuente" )
						a(class="fuente--link" href="/signup") Registro
