extends ./layout.jade
<!-- pagina de inicio -->
block contenido
	div
		h1(class="texto-titulo fuente") SoftWareBuild 
	div(class="panel-central")		
			button(class="boton boton-login fuente" )
				a(href="/login") Iniciar sesion
			
			button(class="boton boton-login fuente" )
				a(href="/signup") Registro
