extends ./layout.jade

<!-- pagina de inicio -->

block contenido
    div
        h1(class="titulo")  tuTiendaOnline
    button(class="btn" id="boton1")
        a(href="/login") Iniciar sesion
         button(class="btn" id="boton2")
            a(href="/signup") Registro