doctype hmtl
html(lang="es")
	head
		title Proyecto NODEJS
		meta(charset="utf-8")
		link(rel='stylesheet', href='/public/css/style.css')
		link(rel='stylesheet' href='/public/css/reset.css')
	body
		block contenido
