doctype hmtl
html(lang="es")
	head
		title ClashRoyale Finder
		meta(charset="utf-8")

		link(rel='stylesheet', href='/public/css/style.css')
		link(rel='stylesheet' href='/public/css/reset.css')

		block contenido
