doctype hmtl
html(lang="es")
	head
		title ClashRoyale Finder
		meta(charset="utf-8")
<<<<<<< HEAD
		link(rel="stylesheet" href="/public/style.css")
=======
		link(rel='stylesheet', href='/public/css/style.css')
		link(rel='stylesheet' href='/public/css/reset.css')
>>>>>>> 20e7ba81a483275cad618b18ce159e67544c0b29
	body
		block contenido
