doctype hmtl
html(lang="es")
	head
		title Repositorio de Imagenes
		meta(charset="utf-8")
		link(rel='stylesheet',href='/public/css/style.css')
		link(rel='stylesheet',href='/public/css/reset.css')
	body
		nav(class="menu")
			ul
				li(class="menu-principal-item")
					a(class="fuente--link fuente menu-principal--contenido" href="/app") Inicio
				li(class="menu-principal-item")
					a(class="fuente--link fuente menu-principal--contenido" href="/app/imagenes") Mis Imagenes
		block contenido
