doctype hmtl
html(lang="es")
	head
		title Repositorio de Imagenes
		meta(charset="utf-8")
		link(rel='stylesheet',href='/public/css/style.css')
		link(rel='stylesheet',href='/public/css/reset.css')
		link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body
		block contenido
