doctype hmtl
html(lang="es")
	head
		title FotoFacilito
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
	body
		block contenido
