extends ./layout.jade
<!-- pagina de registro -->
block contenido	
	form(action="/users" method="POST")
		div(class="panel_registro")
				div
						label(class="fuente fuente--grande" for="email") Email
						input(class="panel-input_texto" type="text" ,name="email",placeholder="Email",id="email")
				div
						label(class="fuente fuente--grande" for="password") Password
						input(class="panel-input_texto" type="password" ,name="password",placeholder="paasword",id="password" ) 
				div
						label(class="fuente fuente--grande" for="password") Confirmar Password
						input(class="panel-input_texto" type="password" ,name="password_confirmation",placeholder="password confirmation",id="password_confirmation")
				div
						label(class="fuente fuente--grande" for="username") Username
						input(class="panel-input_texto" type="text" ,name="username",placeholder="Nombre de usuario",id="username" )
				div
					div
						input(class="boton  fuente fuente--link" type="submit" value="Registrarse")
					div
						a(href="/login" class="fuente--link") Ya estoy registrado
