extends ./layout.jade

block contenido
	form(action="/users" method="POST")
		div(class="form-group")
			label(for="email") Email
			input(type="text" ,name="email",placeholder="Email",id="email" class="form-control")
		div(class="form-group")
			label(for="password") Password
			input(type="password" ,name="password",placeholder="paasword",id="password" class="form-control") 
		div(class="form-group")
			label(for="password") Confirmar Password
			input(type="password" ,name="password_confirmation",placeholder="password confirmation",id="password_confirmation" class="form-control") 
		div(class="form-group")
			label(for="username") Username
			input(type="text" ,name="username",placeholder="Nombre de usuario",id="username" class="form-control")
		div
			input(type="submit" value="Iniciar Sesion" class="btn btn-info")