extends ../layout.jade
block contenido
  nav(class="menu")
    ul
      li(class="menu-principal-item")
        a(class="fuente--link fuente menu-principal--contenido" href="/app") Inicio
      li(class="menu-principal-item")
        a(class="fuente--link fuente menu-principal--contenido" href="/app/imagenes") Mis Imagenes
